{% extends 'base.html'%}

{% block content%}

<h2>{% block title %} MOVIES {% endblock %}</h2>

<h1>Here are our Top 5 picks of Movies for Today </h1>

<h2>The Adam Project</h2>

<img src="{{url_for('static', filename='images/the-adam-project.jpg')}}" alt="Image from FFX">

<p class ="large,aqua">Ryan Reynolds stars as the lead in this netflix film. Guys I havent watch this one as yet, there is also another movie on the list that i havent watch as yet but will get to it. Grown Up Adam time travels to the past to rescue is wife who is allegedly dead. He ends up in 2022 instead of 2018 where he thinks she is. Finds younger self and enlist him into the mission and what not.
    Science fiction, Adventure
     </p>

<h2>GhostBusters - Afterlife</h2>

<img src="{{url_for('static', filename='images/ghostbustersafterlife.jpg')}}" alt="Image from FFX">

<p class ="large,aqua">GhostBusters Afterlife sets out 32 years  after GhostBusters 2, a contuition of the story. After the failure of The reboot of Ghostbuster with a female cast,producers went back to the drawing board. This is what the franchise needed. I can see a another movie or it can end here with Afterlife. It centre around the death of Egon Spengler and his daughter who is a single mom with two children. She moved them to her father's farm where they learn about the reason he stayed away for so many years.
    Supernatural, Comedy
    9/10 </p>

<h2>Cheaper by the Dozen (2022)</h2>

<img src="{{url_for('static', filename='images/cheaperbythedozen.jpg')}}" alt="Image from FFX">

<p class ="large,aqua">Disney has made a reboot of the movie Cheaper by the Dozen. A new family dynamic and storyline. It is a fresh look on the old one. I think we needed maybe a alittle bit more choas. for me it wasnt enough Chaos in regards to the children from the old movie,but we must not compare. Centre around the Baker's owning a restuarant that sells breakfast food allday,with its famous that got the attention of investors to better the family.
    Comedy-Family,
    8/10    
</p>

<h2>The Bubble</h2>

<img src="{{url_for('static', filename='images/thebubble.jpeg')}}" alt="Image from FFX">

<p class ="large,aqua">Okay,Okay, i haven't gotten around to watch as yet. It is a new movie that came out last week on netflix, let say the 01/04/2022.One thing I can say is that Keegan Micheal Key is a part of the cast, you know from Key and Peele. If not the movie follows an actress who career was destroyed by a role. She decided to took a role in a franchise to revive her career.
    Comedy
</p>

<h2>The Last Witch Hunter</h2>

<img src="{{url_for('static', filename='images/thelastwitchhunter.jpg')}}" alt="Image from FFX">

<p class ="large,aqua"> Vin Diesel is the leading man on thos production, he is protrayed as a immortal witch hunter who must stop the Witch Queen from succeeding where she failed 800 years ago in releasing the black plague around the world, only those who are witches would survive.

    Fantasy, Action
    9/10
</p>




{% endblock%}