{% extends 'base.html'%}

{% block content%}

<h2>{% block title %} TVSHOWS {% endblock %}</h2>

<h1>Here are our Top 5 pick of Tv Shows for Today</h1> 

<h2>Cracow Monsters</h2>

<img src="{{url_for('static', filename='images/cracowmonster.jpg')}}" alt="Image from FFX">

<p class ="large,aqua">Netflix new Polish mythology took me on a ride. Completely had me in just from the first episode and I can't wait for season two( Netflix  please a season two is needed).Alex as always had strange things happening to her by joing a group of medical students, she finds out they are just as strange as she is. They are led by a Professor Jan Zawadzki who is into solving supernatural mysteries. Note for children

    Supernatural, Drama, Mystery
    10/10
</p>


<h2>Santuary</h2>

<img src="{{url_for('static', filename='images/sanctuary.jpeg')}}" alt="Image from FFX">

<p class ="large,aqua">Dr. Helen Magnus founded the sanTuary over a hundred years ago. It isnt just a place where abnormals go for safety and help but it is also an organization that is internationally. With the help  of her team she is able to help other abnormals as well as contain the dangerous. She herself is an abnormal after conducting experiments on herslef and four others. Premiered in October 03, 2008 and last episode aire December 30,2011.
    
Science Fiction-Fantasy
10/10</p>

<h2>The MoonKnight</h2>

<img src="{{url_for('static', filename='images/themoonknight.jpg')}}" alt="Image from FFX">
<p class ="large,aqua">Disney and Marvel's new show is based of the comic book of the same name. So far we are on episode 2 with new episodes every week, so you have time to catch up. I can say so far itsa good show. Learning about other countries mythology is always a plus. One question I would like to know is how did Marc Spector and Steven Grant become one.
    
Fantasy,Action- Adventure,SuperHero
9/10</p>

<h2>Tiger and Bunny</h2>

<img src="{{url_for('static', filename='images/tiger_and_bunny.jpg')}}" alt="Image from FFX">
<p class ="large,aqua">Tiger and Bunny is a futuristic Anime show where heros fight crime , all while promoting sponsers, who also pay them. It main charcters are the veteran wild tiger and rookie Bunny. They both are paired together against their will. They must now work together or get fired from thier sponsers. The show second season is on Netflix April 08,2022
    
Adventure,Comedy,Superhero
7/10</p>

<h2>October Faction</h2>

<img src="{{url_for('static', filename='images/octoberfaction.jpg')}}" alt="Image from FFX">

<p class ="large,aqua,"> This is a supernatural show that priemiere on Netflix in January 2020. The show centre around a couple who are monster hunters and the children are none the wiser, until they started coming into their own powers after moving back to their home town.Here is where the children start to act out.The shows was cancel in March of that year, but can still be catched on Netflix

    Drama,Fantasy,supernatural
    8/10
</p>




{% endblock%}